.cart-icon {
  // width: 45px;
  // height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 90px;
  left: 3px;
  bottom: 3px;

  .shopping-icon {
    width: 30px;
    height: 30px;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 5px;
  }
}